h3{
    font-size: 2.2rem;
    margin-bottom: 70px;
    color: #6757d9;
}

button{
    background-color: #fff;
    border: none;
    border-radius: 20px;
    width: 300px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #6757d9;
    transition: all 0.2s ease-in;
}

button:hover{
    background-color: #6757d9;
    color: #fff;
}

a{
    color: #6757d9;
    font-size: 1rem;
    background-color: #eeedfb;
    border: 2px solid #6757d9;
    text-decoration: none;
    border-radius: 15px;
    padding: 8px 15px;
    cursor: pointer;
    margin: 20px 20px 0 0;
}

a:hover{
    background-color: #6757d9;
    color: #fff;
}